$duration: 1s;
$easing: ease;

body {
	font-size: 16px;
	background-color: black;
	color: white;
}

a {
	color: white;
}

.o-page {
	position: absolute;
	width: 100%;
	height: 100%;
}
.example-appear {
	opacity: 0;
}
.example-appear.example-appear-active {
	opacity: 1;
	transition: opacity $duration $easing;
}
.example-enter {
	opacity: 0;
	visibility: hidden;
}
.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity $duration $easing $duration, visibility $duration linear;
	visibility: visible;
}
.example-leave {
	opacity: 1;
}
.example-leave.example-leave-active {
	opacity: 0;
	transition: opacity $duration $easing;
}

.webgl {
	position: absolute;
	top: 0;
	left: 0;
}

.nav {
	position: absolute;
	z-index: 1;
}
