@font-face
	font-family 'Oxygen Mono'
	font-style normal
	font-weight 400
	src local('Oxygen Mono'), local('OxygenMono-Regular'), url('../fonts/oxygenmono/BzV4DVOwAgGelLT9EC5xyrrIa-7acMAeDBVuclsi6Gc.woff') format('woff')

@font-face
	font-family 'wendy'
	src local('wendy'), local('wendy'), url('../fonts/wendy/WendyLPStd-Medium.otf') format('woff')

@font-face
	font-family 'Didot-ita'
	src local('Didot-ita'), local('Didot-ita'), url('../fonts/didot/DidotLTStd-Italic.otf') format('woff')



	