global-reset()
:root 

	@media screen and (min-height: 700px) 
		--introHeight: 20vh;
		--titleHeight: 120px;
		--creditsHeight: 250px;
		--fontHeight: 24px;
	@media screen and (max-height: 700px) 
		--introHeight: 16vh;
		--titleHeight: 100px;
		--creditsHeight: 150px;
		--fontHeight: 16px;

*
	-webkit-font-smoothing: antialiased
a 
	text-decoration: none
	color: white
body
	background-color: black
	margin: 0
	overflow: hidden
	background-size: cover
	background-position: center
	font-family : 'Oxygen Mono'

#dpr
	_width   = 60px
	_height  = 60px
	_opacity = 1

	size(_width, _height)
	
	absolute bottom 20px left 20px
	opacity 		 : 0.5
	transition 		 : opacity .5s EASE

	background-size  : 100%
	background-image: url('../img/DPR.svg')
	background-repeat: no-repeat
	z-index: 10

	&:hover
		opacity: 1
		
.logo
	position : absolute
	top : 5%
	left: 20%
	right : 20%
	text-align : center
	font-family : 'wendy' !important
	color : white
	font-size : 60px
	cursor : pointer
.logo.intro
	left : 10vw 
	text-align : left
	top : var(--introHeight)
	font-size : 130px

.interface
	position : absolute
	top : 50%
	left: 5%
	right : 5%
	text-align : center
	font-family : 'arial'
	color : white
	font-size : 20px
	transition:all 1s ease
	cursor : pointer

.credits
	position : absolute
	top : calc(var(--introHeight) + var(--titleHeight))
	width : 40vw
	font-family : 'Didot-ita'
	color : white
	font-size : var(--fontHeight)
	line-height : calc(var(--fontHeight) + 5px)

.credits a:hover
	cursor : pointer
	color : #fbe553
	transition:all .2s ease

.titles
	left : 10vw;
	text-align : left
	color : #747f9b

.artists
	left : calc(10vw + 200px);
	text-align : left

.start
	cursor : pointer
	left : 10vw;
	font-family : 'Didot-ita'
	font-size : calc(var(--fontHeight) * 2)
	color : #fbe553
	padding-bottom : 10px
	border-bottom : 2px solid
	position : absolute
	top : calc(var(--introHeight) + var(--titleHeight) + var(--creditsHeight))
	width : auto !important
	display : inline-block
	text-align : left

.replay
	margin-right : 120px;

.next
	margin-left : 120px;

.chapters
	color : #525269
	font-size : 12px
	top : auto
	bottom : 40px;
	letter-spacing : 3px

.chapters .actual
	padding-bottom: 5px
	color : white
	border-bottom : 1px solid white

.chapters .prev
	padding-bottom: 5px
	color : #525269
	border-bottom : 1px solid white

.chapters .next


.fade
	position : absolute
	top : 0
	left: 0
	right : 0
	bottom : 0
	background-color : #0a1a30
	transition:all 1s ease
	opacity : 0.9

.debug
	visibility : hidden

.fadeOut
	transition:all 1s ease !important
	opacity : 0

.dg
	font-family : 'Oxygen Mono' !important
	text-transform: uppercase

.dg.ac
	z-index 	: 1 !important

	.dg li:not(.folder)
		background : rgba(0, 0, 0, 0.85) !important

	.dg .c .slider-fg
	.dg .c .slider:hover .slider-fg
		background : white !important

	.c .slider
		background : rgba(255, 255, 255, 0.2) !important


	.dg .c input[type=text]
		background-color : #464542

	.hue-field
		width : 14px !important

	li.string
		 input[type=text]
			background: black !important
			color: white !important

	.cr.string
		border-left-color: white !important